.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding:auto ;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  
 